@model Service.Models.Categery

@{
    ViewBag.Title = "Create";
}
@*<div class="row">
    <div class="col-md-12">
        <section id="loginForm" class="login-form-container">
            <div class="white-box-container">
                <div class="row"> <div class="top-head-title"><h3 class="text-left">Add new category.</h3></div></div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()


                    @Html.ValidationSummary(true)
                    <div class="login-form-text">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.Category, new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.Category, new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.Category)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 input-group-textaera">
                                    @Html.LabelFor(model => model.Description, new { @class = "control-label" })
                                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.Description)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="submit" value="Update" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </section>
    </div>
</div>

<div class="col-md-12 dashboard-btn">
    @Html.ActionLink("Back to Admin Dashboard", "Index", "Admin")
</div>*@


@*Div to replaced*@

<div class="row">
    <div class="col-md-12">
        <section id="loginForm" class="edit-form-container">
            <div class="white-box-container">
                <div class="row"> <div class="top-head-title"><h3 class="text-left">Add new category.</h3></div></div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()


                    @Html.ValidationSummary(true)
                    <div class="login-form-text">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.Category, new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.Category, new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.Category)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 input-group-textaera">
                                    @Html.LabelFor(model => model.Description, new { @class = "control-label" })
                                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.Description)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="submit" value="Add" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>

@*<div class="col-md-12 dashboard-btn">
    @Html.ActionLink("Back to List", "Index")
</div>*@
<div class="col-md-12 dashboard-btn">
    @Html.ActionLink("Back to Admin Dashboard", "Index", "Admin")
</div>
